{% extends "layout.html" %}
{% block title %}{{ c.title }}{% endblock %}
{% block breadcrumb %}{% if c.home.is_some() %}<span class="text-foreground">Dashboard</span>{% else %}{{ c.section }}&nbsp;/&nbsp;{% if c.title != plugin_name %}<a href="{{ c.app_href }}">{{ plugin_name }}</a>&nbsp;/&nbsp;{% endif %}{% if c.in_manage %}Manage&nbsp;/&nbsp;{% endif %}<span class="text-foreground">{{ c.title }}</span>{% endif %}{% endblock %}
{% block content %}
<div class="flex flex-col gap-6 relative" hx-boost="true"{% if c.audited %} hx-history="false"{% endif %}>
  {% include "plugin_content.html" %}
</div>
{% endblock %}
